*{
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
html{
    height: 100%;
    overflow-x: hidden;
}
body{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
}
.sidebar{
    display: flex;
    flex-direction: column;
    width: 20%;
    height: 100%;
    background-color: #f5f5f5;
    align-items: center;
    justify-content: center;
    padding: 2em;
    gap:1em;
    border-right: black 2px solid;
}

.btn-item{
    display: flex;
    flex-direction: column;
    gap: 2em;
}
button{
    padding: 0.5em;
    width: 8em;
    border-radius: 15px;
    border: solid 2px black;
}
main{
    width: 100%;
}
main nav{
    width: 100%;
    background-color: aqua;
    height: 5vh;
    border-bottom: solid 2px black;
    padding: 2em;

}
#content {
    padding: 2em;
    display: flex;
    flex-direction: row;
    justify-content: start;
    gap:3em;

}
#content .vidSection{
    width: 40%;
}
#content .quizSection{
    width: 60%;
    display: flex;
    flex-direction: column;
    gap: 0.6em;
}